body{
	background-color:#22B573;
	overflow: hidden;
}
.logo{
	height: 150px;
	float: right;
	margin:50px 55px 0px 0px ;


}
.navbar-a{
	text-decoration: none;
	color: white;

}
.navbar-a:hover{
	color: #FCEE21;
	text-shadow: 2px 2px 4px #000000;
}

li{
	display: inline-block;
	margin-right: 25px;
	 font-family: 'Lato-Regular';

}

.navbar{
	float: right;
	margin-top: 55px;
	margin-right:45px;
	font-size: 48px;
}
.header:after{
content: " ";
clear: both;
display: block;
}
.box1{
	max-width: 582px;
	height:355px;
	width: 100%;
	margin: 40px auto;
	background-color:#FCEE21;
	float: left;
	margin-left: 70px;
	
}
.box2{
	max-width: 582px;
	height:355px;
	width: 100%;
	margin: 40px auto;
	background-color:#FCEE21;
	float:right;
	margin-right: 70px;
	
}
.boxphoto1{
	float: right;
}
.boxphoto2{
	float: left;
	padding: 0px 10px 0px 0px;
}
.p1{
    
	font-family: 'LiuJianMaoCao-Regular';
	padding:20px;
}
.p2{
	font-family: 'Poppins-Regular';
	padding: 20px;
}
